:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #212121;
  }

  body {
      font-family: var(--main-font);
      
  }

  /* HEADER */

.navigation-link-item {
font-weight: 500;
font-size: 14px;
line-height: 1,143;
letter-spacing: 0.02em;
}

.address {
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}